<div class="flex items-start w-full gap-3 p-2">
  <%= render "chats/ai_avatar" %>

  <div class="max-w-[85%] text-sm space-y-4 text-primary">
    <p>
      <% if Current.user&.first_name.present? %>
        <%= t("chats.ai_greeting.welcome", name: Current.user.first_name) %>
      <% else %>
        <%= t("chats.ai_greeting.welcome_anonymous") %>
      <% end %>
    </p>

    <p>
      <%= t("chats.ai_greeting.commands_help") %> <span class="bg-container border border-secondary px-1.5 py-0.5 rounded font-mono text-xs">/</span>
    </p>

    <div class="space-y-3">
      <p><%= t("chats.ai_greeting.sample_questions") %></p>

      <% questions = [
        {
          icon: "chart-area",
          text: t("chats.ai_greeting.questions.evaluate_portfolio")
        },
        {
          icon: "wallet-minimal",
          text: t("chats.ai_greeting.questions.spending_insights")
        },
        {
          icon: "alert-triangle",
          text: t("chats.ai_greeting.questions.unusual_patterns")
        }
      ] %>

      <div class="space-y-2.5">
        <% questions.each do |question| %>
          <button data-action="chat#submitSampleQuestion"
                  data-chat-question-param="<%= question[:text] %>"
                  class="w-fit flex items-center gap-2 border border-tertiary rounded-full py-1.5 px-2.5 hover:bg-gray-100">
            <%= icon(question[:icon]) %> <%= question[:text] %>
          </button>
        <% end %>
      </div>
    </div>
  </div>
</div>
